.statistics {
  width: 450px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  border-radius: 4px;
}

.title {
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: rgb(103, 101, 101);
}

.stat_list {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.item  {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 12px 15px 15px 15px;
}

.label {
  color: #ffffff;
}

.percentage {
  font-size: 24px;
}