.friend-list {
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.activ {
  composes: status;
  background-color: green;
}

.inactiv {
  composes: status;
  background-color: red;
}

.avatar {
  width: 70px;
  border-radius: 5px;
  background-color: #b4d5e4;
}

.name {
  font-size: 24px;
  font-weight: 600;
}
