.transaction-history {
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 3px rgb(0 0 0 / 12%),
    0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  color: #848282;
  background-color: #fff;
}

.thead {
  color: #fff;
  background-color: #1fd0e1;
}

.th:not(:last-child) {
  border-right: 1px solid #fff;
}

.th {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.th,
.td {
  padding: 10px;
  text-align: center;
}

.td:not(:last-child) {
  border-right: 1px solid #e2e0e0;
}

.tr:nth-child(2n + 2) {
  background-color: rgb(233, 237, 235);
}
